body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
    /* background: #FAFAFA */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins', monospace;
  }
  